<div id="page">
      <div class="5grid-layout index-top-row">
        <div class="row">
          <div class="12u">
            <div id="banner">
              <div class="banner-border"><%= image_tag("van.png", alt: "Bandturo - Touring Artist Dream Machine", class: "van-img") %><br>
              </div>
            </div>
          </div>
        </div>

        <div class="5grid-layout">
          <div class="row">          
            <div class="6u mobileUI-main-content">
              <div id="content">              
                <section>       
                  <div class="post">
                    <h2>Easy tour booking</h2>
                    <p>Take the next step.</p>
                    <p>&nbsp; </p>
                    <ul>
                      <li>Only $49 (One sheet (<a href="http://consonantmusic.com/about/pricing/">example pricing</a>), press   kit,  hundreds   of emails, tour route (<a href="https://optimoroute.com/pricing/">example pricing  </a>), mentor booking agent, budget  analysis)</li>
                      <li>Low cost, unlimited gigs</li>
                      <li>Invented, owned, and operated by artists</li>
                      <li>No hidden costs, monthly fees, or extra commissions</li>
                      <li>Earn more per gig</li>
                      <li>Additional options: press reach-out for each city, tour poster design-print-mailing, simple and   easy merch        design   with tight-budget artists in mind</li>
                      <li>Guaranteed shows - concert halls, bars, lounges, coffee shops, open mics</li>
                    </ul>
                    <p class="button-style"><a href="getstarted.html">Learn more</a></p>
                    <div id="subtext">
                      <p><strong>Bandturo</strong> is the automatic tour booking system. Save <i>months</i> worth of booking and paper pushing time   with our super-stacked process and national industry network.</p>
                      <p>&nbsp;</p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
