   <div id="faq">
    <div class="5grid-layout" id="content">
      <div class="row">
        <div class="12u">
          <section>
            <div class="post">
              <h2>Frequently Asked Questions <%= image_tag("van.png", class: "van-icon") %></h2>
              <br />
              <br />
              <br />
              <h2>I gave you my money--what happens now?</h2><br>
              <p>As soon as we receive your payment we will contact you to go over the things we need from you to start the tour booking process. Some things we will be looking for are any photos, links, press coverage, etc. that you think will be useful in getting you booked across the country. At this first contact, we will also answer any more questions you may have.</p>
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

              <h2>Our bass player messed up big time and got married. Can I postpone?</h2><br>
              <p>Yes. There is no obligation to use our work for anything and you are not penalized if you miss a gig or have to cancel.</p>
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

              <h2>Do you guarantee we will get rich or what?</h2><br>
              <p>Do we guarantee we will get you paid? Hell no. At least not yet. (We are working on it though...) If this is your first time, it is super likely
              that you will end up losing money in exchange for the learning and spiritual experience. That's why we offer our services at such a low price.
              We know the price we have to pay as serious artists. Keep at it, and it will get better with time. 
              Our friend Bo actually made money on his band's first tour. He wrote our <a href="testimonial.html">testimonial.</a></p>
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
              
              <h2>What if I am a solo artist?</h2><br>
              <p>No problem. We can get you booked.</p>      
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
              
              <h2>Do you only book for certain genres?</h2><br>
              <p>We book for all genres. Yeah, some are more difficult to book. We also think genres are kind of stupid and outplayed.       </p>      
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>   
              
              <h2>I don't think we're ready. When should we start?</h2><br>
              <p>We highly recommend starting the process today. Although it is not completely necessary, the rule of thumb is to start booking your tour at least three months out. Six months is best. Therefore it's a good idea to get your marketing materials, dates, and a rough tour route 
              ready now. It can always be updated later, and 100% of tours that don't happen don't happen because of preparation.<br><br>Don't worry about money--you will find it. 
              And don't let other people hold you down. If you are ready then don't worry about who will be ready when it's time to leave. They should be worried about that, not you.</p>      
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>  
       
              <strong>Heard enough?</strong>
              <p class="button-style"><a href="getstarted.html">I'm ready. Let's go.</a></p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


