  <div id="getstarted">
    <div class="5grid-layout" id="content">
      <div class="row">
        <div class="12u">    
          <section>
            <div class="post">
              <h2>About <img src="images/van.png" width="5%"></h2>
              <p>Bandturo is an affordable tour booking service for artists at any level. It is based on a process developed over a decade of 
        independent touring experience. We believe that all artists should be able to make a living from their craft, and we launched Bandturo to help 
        empower artists to do it. <br><br>
        We help you from start to finish to help make sure you have access to the know-how to succeed in your own way. We only charge 
        a one-time fee to set-up your one-sheet, high impact press kit, email tree, and route skeleton. All of these are free to take with you and use in the future, 
        even if you decide to not continue booking through us. Everything you make at the show is for you to keep. We take no commission and do not charge 
        additional fees. We want you to make money doing what you love. Once set-up and booking is complete, you are free to reap all the benefits of your 
        hard work and creativity. Our goal is to make a massive impact on the amount of music that is put into this world during our lives by creating more professional artists making a living off of music. If
        this sounds good to you then sign up today so the process can get started.</p>
              <p>&nbsp;</p>
                 <p class="button-style"><a href="getstarted.html">Get Started</a></p>
         <p><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fbandturo&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="170" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></p>      
      </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


