  <div id="getstarted">
    <div class="5grid-layout" id="content">
      <div class="row">
        <div class="12u">
        
          <section>
          
            <div class="post">
              <h2>Contact <img src="images/van.png" width="5%"></h2>
              
              <p>Please feel free to contact us by phone or email any time. It's cool if you have a lot of questions.</p>
              <p>&nbsp;</p>
              <p><h2>(352)354-7461</h2></p>
              <p><h2>booking@bandturo.com</h2></p>
              <p>&nbsp;</p>
            
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

