// Place all the styles related to the thanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thanks-text h1, 
.thanks-text h2, 
.thanks-text h3 {
  text-align: center;
  line-height: 170%;
}

.thanks-text h1{
  font-size: 3em;
}

.thanks-text{
  padding-top: 50px;
  background-color: #fff;
}

#copyright p {
  padding-top: 20px;
}

#footer-content {
  background-color: #fff;
}