<div class="thanks-text">
  <h1>Thank you!</h1>
  <br />
  <h2>Your payment was successfully submitted.</h2>
  <h3>A Bandturo representative will be contacting you shortly to get you going, so hang tight!</h3>
</div>